.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header-navbar {
  display: flex;
  list-style: none;
}

.App-header-navbar-item a, .App-header-logo a {
  color: #61dafb;
  text-decoration: none;
  padding-left: 3rem;
}